.done {
  color: #000;
}
.inProgress {
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.undone {
  opacity: 0.3;
}
